VITE_FIREBASE_API_KEY=your_api_key
VITE_FIREBASE_AUTH_DOMAIN=gather-savor-event-hub.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=gather-savor-event-hub
VITE_FIREBASE_STORAGE_BUCKET=gather-savor-event-hub.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=your_messaging_sender_id
VITE_FIREBASE_APP_ID=your_app_id
